
* {
    box-sizing: border-box;
}

body{
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 1.5em;

}

/*-----------------------------------------------------------------------------
HEADER
--------------------------------------------------------------------------------*/
.site-header{
    max-width: 600px;
    width: 100%;
    height: 65px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.retour-arriere{
    width: 65px;
    height: 65px;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
}

.menu-burger{
    width: 65px;
    height: 65px;
   /*  background-color: coral; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
}

/*------------------------------------------------------------------------------
ALBUM CONTENT
------------------------------------------------------------------------------*/

.site-content{
    max-width: 600px;
    width: 100%;
    margin: auto;
    background: linear-gradient(black, black, grey);
}

.img-adaptative{
    max-height: 100%;
    max-width: 100%;
}

.photo-album{
    width: 230px;
    height: 230px;
    margin: auto;
    padding: 0 0 20px 0;
}

.photo-album img{
    box-shadow: 0 7px 7px black;
}

.site-content h1{
    font-size: 20px;
    font-weight: 800;
    padding: 0 0 10px 20px;
    color: white;
}

.site-content .titre-album{
    font-size: 13px;
    font-weight: 800;
    padding: 0 0 5px 20px;
    color: white;
}

.site-content .annee{
    font-size: 12px;
    font-weight: 500;
    padding: 0 0 10px 20px;
    color: rgba(255, 255, 255, 0.6)
}

/*------------------------------------------------------------------
FIN ALBUM CONTENT
---------------------------------------------------------------------*/

/*--------------------------------------------------------------------------
partie maxime
--------------------------------------------------------------------------*/

.lecture {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.lecture-wrapper {
    max-width: 600px;
    width: 100%;
    height:80px;
    border: 1px solid black;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(48, 202, 202); 
}
.lecture-item {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lecture-button {
    color: white;
}
.item1 {
    flex-grow: 1;
    background-color: black;
}
.item2 {
    flex-grow: 4;
    background-color: blue;
}
.item3 {
    flex-grow:3;
    background-color: lightskyblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu-wrapper {
    width: 100%;
    max-width: 600px;
    height:auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: red;
}
.menu-item {
    color: white;
}
.tracklist {
    margin: auto;
    height: auto;
    width: 100%;
    max-width: 600px;
    padding: 10px;
}
.tracklist-wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
}
.flex-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    color: white;
    border-top: 1px solid white;
}

