
/*--------------------------------------------------------------------------
partie maxime
--------------------------------------------------------------------------*/

.lecture {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.lecture-wrapper {
    max-width: 600px;
    width: 100%;
    height:80px;
    border: 1px solid black;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(48, 202, 202); 
}
.lecture-item {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lecture-button {
    color: white;
}
.item1 {
    flex-grow: 1;
    background-color: black;
}
.item2 {
    flex-grow: 4;
    background-color: blue;
}
.item3 {
    flex-grow:3;
    background-color: lightskyblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu-wrapper {
    width: 100%;
    max-width: 600px;
    height:auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: red;
}
.menu-item {
    color: white;
}
.tracklist {
    margin: auto;
    height: auto;
    width: 100%;
    max-width: 600px;
    padding: 10px;
}
.tracklist-wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
}
.flex-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    color: white;
    border-top: 1px solid white;
}
